<html>
	<head>
		<title>Access Denied</title>
	</head>
	<body>
		<h1 align= "center">The url you requested cannot be accessed</h1>
		<script type="text/javascript">
		setTimeout(function(){
            	window.location="http://localhost:3000";
            }, 5000);
	</script>
	</body>
</html>