<html>
	<head>
		
		<title>Error 404</title>
	</head>
	<body>
		<h1 align= "center">The url you requested is not present</h1>
	<script type="text/javascript">
	 	 setTimeout(function(){
            	window.location="http://localhost:3000";
            }, 5000);
	</script>
	</body>
</html>